.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6e6e6;
  user-select: none;
}

.number {
  background-color: rgb(0, 0, 0);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeee;
  font-size: 1.5rem;
}

main {
  position: relative;
}

.plus,
.minus {
  position: absolute;
  bottom: -5px;
  background-color: gray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeee;
  font-size: 1.2rem;
  font-weight: lighter;
  cursor: pointer;
}

.plus {
  right: -10px;
}

.minus {
  left: -10px;
}